*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#4daf54;
}

body{
    background: linear-gradient(to right, #4daf54, #3d8880);
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
}

.clear{
    clear: both;
}
.card{
    margin-right: 50px;
    margin-left: 50px;
    height: 400px;
    width: 320px;
    background-color: #272d40;
    padding: 40px 20px;
    color: white;
    border-radius: 15px;
    position: relative;
}
.container{
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* xử lý icon */
.card-heart{
    top: 12px;
    left: 20px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.card-cart{
    top: 12px;
    right: 20px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

/* xử lý hình ảnh */
.card-img{
    width: 90%;
    transition: 0.5s;
}

.card-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* xử lý tittle và price */
.card-tittle{
    color: var(--primary-color);
    margin-bottom: 7px;
    margin-top: 10px
}
.card h2{
    text-align: center;
    transition: 0.5s;
}
.card-price{
    font-size: 28px;
}


/* xử lý size */
.card .card-size, .card .card-color{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
h1{
    font-weight: unset;
    font-size: 18.72px;
    margin-right: 12px;
}
.card-size span{
    background-color: #dadada;
    color: black;
    padding: 5px 12px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
/* xử lý color */
.card-color span{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.card-color-green{
    background-color: green;
}
.card-color-red{
    background-color: red;
}
.card-color-black{
    background-color: black;
}
/* xử lý action click */
.card-action button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 7px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
.card-action button:hover{
    transform: scale(0.9);
}

/* xử lý chuyển động ảnh */
.card:hover .card-img{
    transform: translateY(-70px) rotate(-25deg);
}
/* xử lý chuyển động tittle and price */
.card:hover .card-tittle{
    transform: translate(-40px,-55px);
}
.card:hover .card-price{
    transform: translate(-114px, -55px);
}

/* xử lí chuyển động size color btn */
.card-size, .card-color, .card-action{
    transform: translateY(120px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card-size, .card:hover .card-color, .card:hover .card-action{
    transform: translateY(-20px);
    opacity: 100;
    visibility: visible;
    transition-delay: 0.2s;
}
/*  */

